
.holder{
    max-width: 1200px;
    margin: 0 auto;
}

.holder-footer{
    background-color: #aaf;
    margin: 20px;
    padding: 10px;
}
.abc{
    max-width: 960px;
    margin: 0 auto;
}

.form-control{
    width: 400px !important;
}

form{
    margin-top: 45px !important;
}